page-intro {
    
  
     
      
      .slide-title {
      
        text-align: center;
      }
      
      .slide-image {
        
        display: block;
        margin-left: auto;
        margin-right: auto;
        
      }
      
     
      
      p {
        padding: 0 40px;
        font-size: 14px;
        line-height: 1.5;
        
      }
}

/*
.content{ 
        
        background: url("../assets/img/MK.png") no-repeat;
    
    
    }*/