page-profile {
    
    .cover{
        background-image:url("../assets/img/cover.png");
        background-image: no-repeat;
        
        img {
        border-radius: 50%;
        width: 40vw;
        max-width: 40vw;
        margin-top: 20%;
        }
    }
}
