page-home {

  

  ion-icon{
    font-size: 25px;
  }



      img{ 
          
        float:right
        
        }
      .speaker-card ion-card-header {
        padding: 0;
        
      }
    
      .speaker-card ion-card-header .item {
        padding: 1px 16px;
        text-align: middle;
        
      }
      
      .speaker-card ion-card-content {
    
      height: 100%;
        padding: 0;
      }
      

}


