page-home {



  ion-icon{
    font-size: 25px;
  }



      img{ 
          
        float:right
        
        }
      .card ion-card-header {
        padding: 10px 0px 0px 30px;
        
        
      }
    
      .card ion-card-header .item {
        padding: 1px 16px;
       
       
    
      }
      
      .card ion-card-content {
    
        
        padding: 10px;
        
      

      }
      
  

}


