page-c-details {
    .icon-star {
        position: absolute;
        top: 50px;
        right: 50px;
        font-size: 35px;
        transition: transform 0.3s ease;
      }
    
      .col span.rate-col {
        background-color: rgb(28, 114, 165);
        padding: .5rem 1.25rem;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        color: white;
      }
      h1{

        color: #1c72a5;
      }
}
